
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("ProgramView", "Program", new {proName = " ", internName = " ", sfccAddress = " " , ageGroup = " ", weekdayTime = " ", proDesc = " "})"/>